<div class="input-group">
    <input placeholder="你想要看什么？" type="text" class="form-control x-kw" ng-model="keyword">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="search(keyword)">
                <span class="glyphicon glyphicon-search"></span>
                视频搜索
            </button>
        </span>

</div>
<div class="panel panel-info" style="margin-top: 20px">
    <div class="panel-heading">
    <h3>{{video.title}}</h3>
    </div>

    <div class="panel-body">
        <div>
            <div class="col-md-4">
                <img ng-src="{{video.thumbnail_v2}}" style="width: 130%;height:130% ">
            </div>
            <div class="col-md-6 " style="margin-left: 70px;margin-top: 17px">
                <ul class="list-group">

                    <div class="list-group-item ">
                        <span  class="col-md-2">类别:</span>
                        <span  ng-bind="video.category"></span>
                    </div>
                    <div class="list-group-item ">
                        <span  class="col-md-3">上传时间:</span>
                        <span  ng-bind="video.published"></span>
                    </div>
                    <div class="list-group-item ">
                        <span  class="col-md-3">播放次数:</span>
                        <span  ng-bind="video.view_count"></span>
                    </div>
                    <div class="list-group-item ">
                        <span  class="col-md-3">标签:</span>
                        <span  ng-bind="video.tags"></span>
                    </div>
                </ul>
            </div>
            <div class="col-md-1">
                <div>
                <button type="button" class="btn btn-primary"style="height: 90px" ng-click="see(v)">观看视频</button>
                </div>
                <div style="margin-top: 10px">
                    <button type="button" class="btn btn-success"style="height: 90px" ng-click="showRec(v)">推荐列表</button>
                </div>
            </div>
        </div>

    </div>


    <div class="panel panel-body" ng-show="showRecommend">
        <h4>推荐视频：</h4>
        <span class="col-md-3" ng-repeat="video in recommends">
            <a href="#">
            <div>
                <img ng-src="{{video.picUrl}}" style=" height: 112px">
            </div>
            <div>
                <span >
                     {{video.title}}
                </span>
            </div>
            </a>
        </span>
    </div>

    <div style="margin: 20px">
        {{video.description}}
    </div>

    <div  style="margin-left: 20px">
        <button type="button" class="btn btn-success">范爷威武</button>
        <span ng-repeat="tag in tags" >

            <div class="btn-group" style="margin: 2px">
                <button type="button" class="btn btn-info">{{tag.content}}</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">赞</a></li>
                    <li><a href="#">踩</a></li>

                </ul>
            </div>
        </span>
    </div>
    <div class="input-group">
        <input placeholder="写下你想说的话" type="text" class="form-control x-kw" >
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="search(keyword)">
                <span class="glyphicon glyphicon-search"></span>
                添加评论
            </button>
        </span>
    </div>

<div></div>

<!--<div style="margin-top: 20px">-->
    <!--<embed src="http://player.youku.com/player.php/sid/XODY0MDk2MTU2/v.swf"-->
           <!--allowFullScreen="true" quality="high" width="960" height="600"-->
           <!--align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>-->
<!--</div>-->


</div>

<button class="btn btn-primary btn-lg" data-toggle="modal"
        data-target="#myModal">
    添加停用词
</button>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加停用词
                </h4>
            </div>
            <div class="modal-body">
                系统已有停用词：<br/>
                <span class="label label-default">刘晓波</span>
                <span class="label label-default">和平奖</span>
                <span class="label label-default">回民吃猪肉</span>
                <span class="label label-default">习近平</span>
                <span class="label label-default">TMD</span>
                <span class="label label-default">毛民进党</span>
                <span class="label label-default">机吧</span>
                <span class="label label-default">联国</span>
                <span class="label label-default">1989六四</span>
                <span class="label label-default">性爱</span>
                <span class="label label-default">李洪志</span>
                <span class="label label-default">公安</span>
                <span class="label label-default">梁光烈</span>
                <span class="label label-default">巴黎市长</span>
                <span class="label label-default">奥观海</span>
                <span class="label label-default">撕胯</span>

                <div class="input-group" style="margin-top: 15px">
                    <input placeholder="停用词...？" type="text" class="form-control x-kw" >
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" ng-click="search(keyword)">

                            添加
                        </button>
                    </span>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>

                <button type="button" class="btn btn-primary">
                    提交更改
                </button>
                <div class="alert alert-success alert-dismissible" role="alert">
                    <strong>修改成功!</strong> 请刷新页面查看效果
                    </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>