<div class="input-group">
    <input placeholder="你想要看什么？" type="text" class="form-control x-kw" ng-model="keyword">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="submit" ng-click="search(keyword)">
                <span class="glyphicon glyphicon-search"></span>
                视频搜索
            </button>
        </span>

</div>

<div ng-show="showIndexs">
<section id="dg-container" class="dg-container">
    <div class="dg-wrapper">
        <a href="#"><img src="images/1.jpg" alt="image01" height="330" width="482"><div>天将雄师</div></a>
        <a href="#"><img src="images/2.jpg" alt="image02" height="330" width="482"><div>帕丁顿熊</div></a>
        <a href="#"><img src="images/3.jpg" alt="image03" height="330" width="482"><div>霍比特人3</div></a>
        <a href="#"><img src="images/4.jpg" alt="image04" height="330" width="482"><div>50度灰</div></a>
        <a href="#"><img src="images/5.jpg" alt="image05" height="330" width="482"><div>博物馆奇妙夜</div></a>

    </div>
    <nav>
        <span class="dg-prev">&lt;</span>
        <span class="dg-next">&gt;</span>
    </nav>
</section>

<div class="panel panel-body" >
    <h4>推荐视频：</h4>
    <span class="col-md-3" ng-repeat="video in recommends">
        <a href="#">
            <div>
                <img ng-src="{{video.picUrl}}" style=" height: 112px">
            </div>
            <div>
            <span >
                 {{video.title}}
            </span>
            </div>
        </a>
    </span>
</div>

    <div >
    <span class="col-md-3" ng-repeat="video in recommends1">
        <a href="#">
            <div>
                <img ng-src="{{video.picUrl}}" style=" height: 112px">
            </div>
            <div>
            <span >
                 {{video.title}}
            </span>
            </div>
        </a>
    </span>
    </div>

</div>
<div style="margin-top: 30px">
    <ul class="list-group"  >
        <div  style="padding: 10px 10px;margin-bottom: 10px"
              ng-repeat="v in results" >

            <div >
                <a ng-href="http://t.dianping.com/deal/{{deal.dealgroupId}}" >
                <img  class="col-md-4" ng-src="{{v.picUrl}}" alt="..." style=" height: 200px">
                </a>
                <div class="col-md-6 ">
                    <ul class="list-group">
                        <div class="list-group-item list-group-item-success" style="font-weight: bold">
                            <span  ng-bind="v.title"></span>
                        </div>

                        <div class="list-group-item list-group-item-info">
                            <span  class="col-md-2">类别:</span>
                            <span  ng-bind="v.basicType"></span>
                        </div>
                        <div class="list-group-item list-group-item-info">
                            <span  class="col-md-3">上传时间:</span>
                            <span  ng-bind="v.published"></span>
                        </div>
                        <div class="list-group-item list-group-item-info">
                            <span  class="col-md-3">播放次数:</span>
                            <span  ng-bind="v.view_count"></span>
                        </div>
                        <div class="list-group-item list-group-item-info">
                            <span  class="col-md-3">标签:</span>
                            <span  ng-bind="v.tags"></span>
                        </div>
                    </ul>
                 </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-info"style="height: 207px" ng-click="see(v)">查看</button>
                </div>
            </div>
        </div>
    </ul>

</div>
